.doctor-card{
    border: 1px solid lightgray;
     border-radius: 10px;
     margin-right: 5px;
     width: 300px;
     padding: 20px;
     margin-bottom: 10px;
     transition: .5s;
}
.doctor-card:hover{
    box-shadow: 10px 10px 10px lightgray;
}